*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.main-navbar{
	position: absolute;
	width: 100%;
	max-width: 1400px;
	height: 12vh;
	max-height: 80px;
	background-color: blue;
	padding: 0px 8%;
	margin: 0px ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
    left: 1px;
    top: 2px;
}
.red1{
    display: inline;
}
.red2 img{
    display: inline;
}
.red2{
 margin-top: 100px;
 margin-left: 50px;
 width: 50px;
 height: 50px;
 object-fit: cover;
 border-radius: 5px;
 display: inline-block;
}
.red2 img{
    width: 630px;
}
.red3{
    margin-left: 50px;
    margin-top: 290px;
    

    
}
.red3 button{
    padding-left: 264px;
    padding-right: 264px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    border: 5px solid;
	border-radius: 10px;
	color: blue;
	background-color: aliceblue;
	font-family:sans-serif;
	font-weight: bolder;
}
.red3 button:hover{
    border: 6px solid;
	border-radius: 10px;
	color: white;
	background-color: #5a49f3;
	font-family:sans-serif;
	font-weight: bold;
}
.red4{
    margin-top: 30px;
    margin-left: 50px;
    background-color: orange;
    padding: 10px;
}
.red4 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
.red4 h3{
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.red5{
    margin-top: 30px;
    margin-left: 50px;
    background-color: lightblue;
    padding: 10px;
}